### Lab | Inferential statistics - T-test & P-value  
**Instructions**  
We will have another simple example on two sample t test (pooled- when the variances are equal).  
But this time this is a one sided t-test  

In a packing plant, a machine packs cartons with jars. 
It is supposed that a new machine will pack faster on the average than the machine currently used.   
To test that hypothesis, the times it takes each machine to pack ten cartons are recorded.  
The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt.  
Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

In [4]:
import pandas as pd
from scipy.stats import ttest_ind

# reading the data

machine_data = pd.read_csv('./machine.txt', delimiter='\t', encoding='utf-16')

In [7]:
machine_data

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [15]:
machine_data.columns

Index(['New machine', '    Old machine'], dtype='object')

In [14]:
## assign data for each machine

New_machine = machine_data['New machine']
Old_machine = machine_data['    Old machine']

In [19]:
# conduct t-test
ttest = ttest_ind(New_machine,Old_machine)

In [20]:
ttest

Ttest_indResult(statistic=-3.3972307061176026, pvalue=0.0032111425007745158)

In [21]:
t_stat = ttest[0]
p_value = ttest[1]

- t_value of 10 degree of freedom at one-tail 0.05 confidence level is 1.812

We can reject the Null Hypothesis
### New machine has better performance